@use 'sass:list';
@use './constants.scss' as *;

body {
  background-image: url(img/background.png);
  background-size: auto;
}

.congkak-box {
  display: flex;
  gap: 20px;
  padding: 12px;
  position: relative;
  flex-direction: column;
  aspect-ratio: 2/1;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 740px) {
    aspect-ratio: 1/1;
  }

  .congkak-table {
    width: 100%;
    aspect-ratio: 1472/342;
    background-image: url(img/table.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0;
    position: relative;

    & .congkak-grid {
      position: absolute;
      width: 58.3%;
      height: 71%;
      margin-left: 21.3%;
      margin-top: 1.6%;
      display: grid;
      grid-template-areas: 'a a a a a a a';
      grid-gap: 7% 1.3%;
    }

    & .congkak-kampong {
      position: relative;

      & .congkak-seed {
        width: 15%;
        aspect-ratio: 70/53;
        background-image: url(img/seed.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0;
        position: absolute;

        @for $i from 1 through list.length($positions) {
          &:nth-child(#{$i}) {
            $pos: list.nth($positions, $i);
            left: list.nth($pos, 1);
            top: list.nth($pos, 2);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
