@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v257/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOejbd5zrDAt.woff2) format("woff2");
}
html {
  background-image: url(img/background.png);
  background-size: auto;
}

.congkak-box {
  display: flex;
  gap: 20px;
  padding: 12px;
  position: relative;
  flex-direction: column;
  aspect-ratio: 2/1;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 740px) {
  .congkak-box {
    aspect-ratio: 1/1;
  }
}
.congkak-box .congkak-table {
  width: 100%;
  aspect-ratio: 1472/342;
  background-image: url(img/table.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0;
  position: relative;
}
.congkak-box .congkak-table .congkak-player {
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.congkak-box .congkak-table .congkak-player.top {
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.congkak-box .congkak-table .congkak-player.bottom {
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.congkak-box .congkak-table .congkak-grid {
  position: absolute;
  width: 58.5%;
  height: 71.2%;
  margin-left: 21.3%;
  margin-top: 1.6%;
  display: grid;
  grid-template-areas: "a a a a a a a";
  grid-gap: 6% 1%;
}
.congkak-box .congkak-table .congkak-seed {
  width: 20%;
  aspect-ratio: 1/1;
  background-image: url(img/seeds.png);
  background-repeat: no-repeat;
  background-size: 400% 100%;
  background-position-y: 0;
  position: absolute;
  filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.55)) drop-shadow(0 0.5px 0px rgba(0, 0, 0, 0.65));
}
.congkak-box .congkak-table .congkak-seed[position="1"] {
  background-position-x: 0%;
}
.congkak-box .congkak-table .congkak-seed[position="2"] {
  background-position-x: 33.3333333333%;
}
.congkak-box .congkak-table .congkak-seed[position="3"] {
  background-position-x: 66.6666666667%;
}
.congkak-box .congkak-table .congkak-seed[position="4"] {
  background-position-x: 100%;
}
.congkak-box .congkak-table .congkak-kampong {
  position: relative;
}
.congkak-box .congkak-table .congkak-kampong.selectable::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 0;
  left: 0;
  background-color: rgba(30, 136, 229, 0.3137254902);
  border: 2px solid #1e88e5;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s all;
}
.congkak-box .congkak-table .congkak-kampong.selected::before {
  background-color: rgba(229, 57, 53, 0.3137254902);
  border: 2px solid #e53935;
}
.congkak-box .congkak-table .congkak-kampong.locked {
  background-color: rgba(255, 255, 255, 0.3137254902);
  border-radius: 100%;
  transition: 0.2s all;
}
.congkak-box .congkak-table .congkak-kampong.locked .congkak-counter {
  color: white;
  background-color: #acacac;
  transition: 0.2s all;
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(2) {
  left: 59.6%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(3) {
  left: 45.2%;
  top: 58.3138438763%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(4) {
  left: 45.2%;
  top: 41.6861561237%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(5) {
  left: 69.2%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(6) {
  left: 61.9710041957%;
  top: 65.0111644634%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(7) {
  left: 45.727598068%;
  top: 68.7186159139%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(8) {
  left: 32.7013977363%;
  top: 58.3305677911%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(9) {
  left: 32.7013977363%;
  top: 41.6694322089%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(10) {
  left: 45.727598068%;
  top: 31.2813840861%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(11) {
  left: 61.9710041957%;
  top: 34.9888355366%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(12) {
  left: 78.8%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(13) {
  left: 74.2281017455%;
  top: 65.5704555427%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(14) {
  left: 61.9639523745%;
  top: 76.1974014662%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(15) {
  left: 45.9013326577%;
  top: 78.5068575262%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(16) {
  left: 31.1400108624%;
  top: 71.7655877414%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(17) {
  left: 22.3666023599%;
  top: 58.113897637%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(18) {
  left: 22.3666023599%;
  top: 41.886102363%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(19) {
  left: 31.1400108624%;
  top: 28.2344122586%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(20) {
  left: 45.9013326577%;
  top: 21.4931424738%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(21) {
  left: 61.9639523745%;
  top: 23.8025985338%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(22) {
  left: 74.2281017455%;
  top: 34.4295444573%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(23) {
  left: 88.4%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(24) {
  left: 84.5972045275%;
  top: 66.6611355821%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(25) {
  left: 73.9420083914%;
  top: 80.0223289268%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(26) {
  left: 58.5448038639%;
  top: 87.4372318278%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(27) {
  left: 41.4551961361%;
  top: 87.4372318278%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(28) {
  left: 26.0579916086%;
  top: 80.0223289268%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(29) {
  left: 15.4027954725%;
  top: 66.6611355821%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(30) {
  left: 11.6%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(31) {
  left: 15.4027954725%;
  top: 33.3388644179%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(32) {
  left: 26.0579916086%;
  top: 19.9776710732%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(33) {
  left: 41.4551961361%;
  top: 12.5627681722%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(34) {
  left: 58.5448038639%;
  top: 12.5627681722%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(35) {
  left: 73.9420083914%;
  top: 19.9776710732%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(36) {
  left: 84.5972045275%;
  top: 33.3388644179%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(37) {
  left: 98%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(38) {
  left: 93.8501819668%;
  top: 69.5233588676%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(39) {
  left: 82.1182691052%;
  top: 85.6709516229%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(40) {
  left: 64.83281573%;
  top: 95.6507127822%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(41) {
  left: 44.9826337632%;
  top: 97.7370509777%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(42) {
  left: 26%;
  top: 91.5692193817%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(43) {
  left: 11.16718427%;
  top: 78.21369211%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(44) {
  left: 3.0489151648%;
  top: 59.9797611593%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(45) {
  left: 3.0489151648%;
  top: 40.0202388407%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(46) {
  left: 11.16718427%;
  top: 21.78630789%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(47) {
  left: 26%;
  top: 8.4307806183%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(48) {
  left: 44.9826337632%;
  top: 2.2629490223%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(49) {
  left: 64.83281573%;
  top: 4.3492872178%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(50) {
  left: 82.1182691052%;
  top: 14.3290483771%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-kampong .congkak-seed:nth-child(51) {
  left: 93.8501819668%;
  top: 30.4766411324%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah {
  width: 9.8%;
  height: 58%;
  position: absolute;
}
.congkak-box .congkak-table .congkak-rumah:nth-child(2) {
  width: 11%;
  top: 13%;
  left: 9.7%;
}
.congkak-box .congkak-table .congkak-rumah:nth-child(3) {
  top: 13%;
  right: 9.8%;
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(2) {
  left: 55.3333333333%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(3) {
  left: 44.6666666667%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(4) {
  left: 60.6666666667%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(5) {
  left: 53.2961812733%;
  top: 60.1446028405%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(6) {
  left: 41.3704853933%;
  top: 56.2697093578%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(7) {
  left: 41.3704853933%;
  top: 43.7302906422%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(8) {
  left: 53.2961812733%;
  top: 39.8553971595%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(9) {
  left: 66%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(10) {
  left: 61.313708499%;
  top: 61.313708499%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(11) {
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(12) {
  left: 38.686291501%;
  top: 61.313708499%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(13) {
  left: 34%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(14) {
  left: 38.686291501%;
  top: 38.686291501%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(15) {
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(16) {
  left: 61.313708499%;
  top: 38.686291501%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(17) {
  left: 71.3333333333%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(18) {
  left: 67.9467420337%;
  top: 61.5336707724%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(19) {
  left: 58.862186944%;
  top: 69.4054825676%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(20) {
  left: 46.9639501168%;
  top: 71.1161907601%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(21) {
  left: 36.0296376758%;
  top: 66.1226575862%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(22) {
  left: 29.5308165629%;
  top: 56.010294546%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(23) {
  left: 29.5308165629%;
  top: 43.989705454%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(24) {
  left: 36.0296376758%;
  top: 33.8773424138%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(25) {
  left: 46.9639501168%;
  top: 28.8838092399%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(26) {
  left: 58.862186944%;
  top: 30.5945174324%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(27) {
  left: 67.9467420337%;
  top: 38.4663292276%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(28) {
  left: 76.6666666667%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(29) {
  left: 74.0258364774%;
  top: 61.5702330431%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(30) {
  left: 66.6263947162%;
  top: 70.8488395325%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(31) {
  left: 55.9338915722%;
  top: 75.9980776582%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(32) {
  left: 44.0661084278%;
  top: 75.9980776582%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(33) {
  left: 33.3736052838%;
  top: 70.8488395325%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(34) {
  left: 25.9741635226%;
  top: 61.5702330431%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(35) {
  left: 23.3333333333%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(36) {
  left: 25.9741635226%;
  top: 38.4297669569%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(37) {
  left: 33.3736052838%;
  top: 29.1511604675%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(38) {
  left: 44.0661084278%;
  top: 24.0019223418%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(39) {
  left: 55.9338915722%;
  top: 24.0019223418%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(40) {
  left: 66.6263947162%;
  top: 29.1511604675%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(41) {
  left: 74.0258364774%;
  top: 38.4297669569%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(42) {
  left: 82%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(43) {
  left: 79.8391113409%;
  top: 61.559733318%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(44) {
  left: 73.6482853511%;
  top: 71.5582605967%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(45) {
  left: 64.2636273848%;
  top: 78.6452253234%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(46) {
  left: 52.9525875028%;
  top: 81.8634936414%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(47) {
  left: 41.2427843177%;
  top: 80.7784205815%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(48) {
  left: 30.7156916359%;
  top: 75.536551273%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(49) {
  left: 22.7930516567%;
  top: 66.8458292121%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(50) {
  left: 18.5448608101%;
  top: 55.8799845701%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(51) {
  left: 18.5448608101%;
  top: 44.1200154299%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(52) {
  left: 22.7930516567%;
  top: 33.1541707879%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(53) {
  left: 30.7156916359%;
  top: 24.463448727%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(54) {
  left: 41.2427843177%;
  top: 19.2215794185%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(55) {
  left: 52.9525875028%;
  top: 18.1365063586%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(56) {
  left: 64.2636273848%;
  top: 21.3547746766%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(57) {
  left: 73.6482853511%;
  top: 28.4417394033%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(58) {
  left: 79.8391113409%;
  top: 38.440266682%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(59) {
  left: 87.3333333333%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(60) {
  left: 85.5061099417%;
  top: 61.5366344567%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(61) {
  left: 80.2033011233%;
  top: 71.9439827523%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(62) {
  left: 71.9439827523%;
  top: 80.2033011233%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(63) {
  left: 61.5366344567%;
  top: 85.5061099417%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(64) {
  left: 50%;
  top: 87.3333333333%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(65) {
  left: 38.4633655433%;
  top: 85.5061099417%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(66) {
  left: 28.0560172477%;
  top: 80.2033011233%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(67) {
  left: 19.7966988767%;
  top: 71.9439827523%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(68) {
  left: 14.4938900583%;
  top: 61.5366344567%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(69) {
  left: 12.6666666667%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(70) {
  left: 14.4938900583%;
  top: 38.4633655433%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(71) {
  left: 19.7966988767%;
  top: 28.0560172477%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(72) {
  left: 28.0560172477%;
  top: 19.7966988767%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(73) {
  left: 38.4633655433%;
  top: 14.4938900583%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(74) {
  left: 50%;
  top: 12.6666666667%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(75) {
  left: 61.5366344567%;
  top: 14.4938900583%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(76) {
  left: 71.9439827523%;
  top: 19.7966988767%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(77) {
  left: 80.2033011233%;
  top: 28.0560172477%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(78) {
  left: 85.5061099417%;
  top: 38.4633655433%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(79) {
  left: 92.6666666667%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(80) {
  left: 90.7711063802%;
  top: 62.5762207749%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(81) {
  left: 85.2528543708%;
  top: 74.034989144%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(82) {
  left: 76.602231546%;
  top: 83.358143252%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(83) {
  left: 65.5878837063%;
  top: 89.7172799422%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(84) {
  left: 53.188483993%;
  top: 92.5473620131%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(85) {
  left: 40.5057734845%;
  top: 91.5969242531%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(86) {
  left: 28.6666666667%;
  top: 86.9504172281%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(87) {
  left: 18.7231201353%;
  top: 79.0207034782%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(88) {
  left: 11.5586616362%;
  top: 68.512372869%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(89) {
  left: 7.8098847477%;
  top: 56.3591366902%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(90) {
  left: 7.8098847477%;
  top: 43.6408633098%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(91) {
  left: 11.5586616362%;
  top: 31.487627131%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(92) {
  left: 18.7231201353%;
  top: 20.9792965218%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(93) {
  left: 28.6666666667%;
  top: 13.0495827719%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(94) {
  left: 40.5057734845%;
  top: 8.4030757469%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(95) {
  left: 53.188483993%;
  top: 7.4526379869%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(96) {
  left: 65.5878837063%;
  top: 10.2827200578%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(97) {
  left: 76.602231546%;
  top: 16.641856748%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(98) {
  left: 85.2528543708%;
  top: 25.965010856%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-rumah .congkak-seed:nth-child(99) {
  left: 90.7711063802%;
  top: 37.4237792251%;
  transform: translate(-50%, -50%);
}
.congkak-box .congkak-table .congkak-counter {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.55), 0 1px 0px rgba(0, 0, 0, 0.65);
  height: 1.7em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  font-size: 0.9em;
  z-index: 20;
}
.congkak-box .congkak-table .congkak-counter.top {
  top: -0.75em;
  left: 50%;
  transform: translate(-50%, 0%);
}
.congkak-box .congkak-table .congkak-counter.bottom {
  bottom: -0.75em;
  left: 50%;
  transform: translate(-50%, 0%);
}
.congkak-box .congkak-table .congkak-counter.left {
  left: -0.75em;
  top: 50%;
  transform: translate(0%, -50%);
}
.congkak-box .congkak-table .congkak-counter.right {
  right: -0.75em;
  top: 50%;
  transform: translate(0%, -50%);
}
.congkak-box .congkak-round-box {
  display: inline-flex;
  gap: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 4px 6px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
